<div id="home">
<center style="text-shadow: 2px 2px 4px #000000;">
<h1 style="font-size: 50px; padding: 2em;">prorei is your professional <font color="#ff6600">pro</font>file 
<font color="#ff6600">rei</font>magined</h1>
<h3 style="padding: 1em; font-size: 20px; padding-bottom: 1.8em">Beautiful, Clean, and Effective</h3>
<center>
</div>