<div id="home">
<center>
<h1 style="font-size: 50px; padding: 2em;">a place where<br><br>
talent > degree</h1>
<h3 style="padding: 1em; font-size: 20px; padding-bottom: 1.8em">Beautiful, Clean, and Effective</h3>
<center>
</div>