<div id="home">
<center>
	<h2>
	at prorei we believe
</h2>
<h1><b>talent <font color="#008080">></font> degree</b></h1>
<br>
<p>we don't ask you about your education or your gender.<br>
<font color="#008080">anonymous hiring</font> is here.<br>sign up and get hired purely on the basis of your skills.</p>
<a href="" class="btn btn-default">Sign up and see it for yourself</a>
<center>
</div>