<div id="home">
<center>
	<br>
<h1 style="font-size: 55px;"><b>learn <font color="#5a2ca0">real skills</font> doing <font color="#5a2ca0">real work</font></b></h1>
<br>
<h2>our education system is still the same as it was 50 years ago.<br>
<font color="#5a2ca0">the industry isn't.</font></h2>
<br>
<a href="" class="btn btn-default btn-spacious">Find Opportunities</a>
<center>
</div>