  <% Category.all.each do |category| %>
  <%= link_to category.name, jobs_path(category: category.name) %>
  <% end %>
  <% @jobs.each do |job| %>
    <div class="job">
      <h2 class="title">
        <%= link_to job.title, job %>
      </h2>
      <p class="date">
        Published at
        <%= time_ago_in_words(job.created_at) %>
        by
        <%= job.employer.name %>
      </p>
    </div>
  <% end %>