<div class="profile-top">
<%= image_tag(current_user.avatar.url, class: "avatar")%>
	<p class="name">
		<font size="25px"><b><%= @user.first_name%></b> <%= @user.last_name %></font><br>
		<span class="glyphicon glyphicon-map-marker"></span> <%= @user.city %>
	</p>
</div>