<p>
  <%= response.response %>
</p>
<p>
  <%= response.user_id %>
</p>
<%= link_to "Delete", [response.job, response], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>