<div id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <h2 class="title">
        <%= link_to post.title, post %>
      </h2>
      <p class="date">
        Published
        <%= time_ago_in_words(post.created_at) %>
        ago by
        <%= post.user.user_name %>
      </p>
    </div>
  <% end %>
</div>
