<div id="post_content">
  <h1>
    <%= @post.title %>
  </h1>
  <p>
    <%= @post.content %>
  </p>
  <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure" }, class: "button" %>
  <%= link_to "Edit", edit_post_path(@post), class: "button" %>
  <div id="comments">
      <h4>comments are removed</h4>
  </div>
</div>
