/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	font-family: 'Ubuntu', sans-serif;
 	background: #fff;
 }

.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.main_header {
	width: 100%;
	margin: 0 auto;
	background: #fff;
	#logo {
		float: left;
		img {
			height: 35px;
			width: auto;
			color:#f46804;
		}
	}
	.buttons {
		float: right;
		a {
			line-height: 60px;
			background: #f46804;
			padding: .5em 1em;
			border-radius: 0.2em;
			color: white;
			text-decoration: none;
			font-weight: 100;
		}
	}
}

#posts {
	background: white;
	padding: 2em 5%;
	.post {
		margin: 1em 0;
		padding: 1.2em 0;
		border-bottom: 1px solid #D1d1d1;
		.title {
			margin: 0;
			a {
				color: #f46804;
				text-decoration: none;
				font-weight: 100;
				font-size: 1.5rem;
			}
		}
		.date {
			color: #939393;
			float: right;
			font-size: 0.7rem;
			margin: auto;
		}
	}
}

.button {
	color: #f46804;
	border: 1px solid #f46804;
	padding: 0.5em 1em;
	border-radius: 0.2em;
	text-decoration: none;
	margin-right: 2%;
	font-size: 0.8em;
	float: right;
	
}
.btn-default {
	background: none repeat scroll 0% 0% #F46804;
	padding: 0.5em 1em;
	border-radius: 0.2em;
	color: #FFF;
	text-decoration: none;
	font-weight: 100;
}

.bottom-links {
	padding: 1em;
	a {
		color: #939393;
		text-decoration: none;
	}
}

hr{
	color: #93939;
}

#post_content {
	background: white;
	padding: 1em;
	border-radius: .5em;
	height: 180px;
	width: -moz-available;
	h1 {
		font-weight: 100;
		font-size: 2.5em;
		color: #f46804;
	}
	p {
		color: #000;
		font-size: 1rem;
		font-weight: 100;
		line-height: 1.5;
	}
#comments {
		.comment {
			border-bottom: 1px solid #d1d1d1;
			padding-bottom: 1em;
			margin-bottom: 1em;
			.content {
				width: 75%;
				float: left;
			}
			.buttons {
				width: 25%;
				float: right;
				font-size: .8em;
				text-align: right;
				padding-top: 1.5em;
				a {
					color: #f46804;
					border: 1px solid #f46804;
					padding: .5em 1em;
					border-radius: 0.2em;
					text-decoration: none;
					margin-right: 2%;
					font-size: 0.8em;
				}
			}
			.comment_content {
				margin: 0;
				padding: 0;
			}
			.comment_author {
				color: #f46804;
				margin-top: .5rem;
				font-size: 1em;
				font-weight: 700;
			}
		}
		input[type="submit"] {
			background: #f46804;
			border: none;
			color: white;
			font-weight: 100;
			padding: .5em 1em;
			border-radius: .2em;
		}
		textarea {
			width: 100%;
			min-height: 200px;
			margin: 1em 0;
			-webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1);
    	-moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1);
   	 	box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1);
    	background: rgba(255,255,255,0.5);
    	border-radius: 10px;
		}
	}
}
.form-control{
	height: 25px;
	width: -moz-available;
}
.control-label{
	padding: 1em;
	display: none;
}
.formwrapper{
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;
	background: #fff;
	padding: 2em 5%;
}


.form-control {
	-webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1);
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1);
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1);
    padding: 8px;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    
}


.help-block {
    font-family:Tahoma,Geneva,Arial,sans-serif;
    font-size:11px;
    color: #FE0000;
    padding: 1em;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    padding: 0.2em;
	border-radius: 10px;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    padding: 0.2em;
	border-radius: 10px;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    padding: 0.2em;
	border-radius: 10px;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    padding: 0.2em;
	border-radius: 10px;
 }
 
.close{
	display: none;
}