@font-face {
	font-family: 'GothamBook';
	src: url('./GothamBook.eot');
	src: local('GothamBook'), url('./GothamBook.woff') format('woff'), url('./GothamBook.ttf') format('truetype');
}

.gotham-font {
	font-family: 'GothamBook' !important;
}

p {
	font-size: 100%;
}
.form-inputs{
	max-width: 700px;
}
.wrapper {
	max-width: 1000px;
	margin: 0 auto;
}
.bottom-links
{
	padding: 1em;
	padding-bottom: 3em;
}
.form-inputs .avatar
{
	height: 100px;
	width: 100px;
	border: 1px solid #c0c0c0;
}
.profile-top{
	height: 100%;
	margin-bottom: 6%;
}
.avatar
{
	height: 150px;
	width: 150px;
	margin-top: 5%;
	margin-bottom: 3%;
}

.name {
	margin-bottom: 1%;
	font-size: 3em;
}
.threewords {
	margin-bottom: 2%;
	font-size: 1.2em;
}
.location {
	margin-bottom: 2%;
	font-size: 1.2em;
}
.profile-main .about {
	font-size: 120%;
}
.about-section {
	margin-bottom: 2%;
	margin-top: 2%;
}

.three-achievements {
	margin-top: 6%;
	margin-bottom: 2%;
}

#section-title {
	margin-bottom: 3%;
	font-size: 22px;
}

.profile-main li {
	padding-bottom: 3%;
}

.profile-main p {
	padding-bottom: 3%;
}

.profile-main {
	margin-bottom: 5%;
	margin-left: 10%;
	max-width: 600px;
}

.achievement-list {
	font-size: 1em;
}

.footer {
	color: #000;
}

::-moz-selection {
       background-color: #121212;
       color: #fff;
}

::selection {
       background-color: #121212;
       color: #fff;
}

.three-projects {
	font-size: 110%;
}

.three-skills {
	font-size: 1em;
}


.three-projects a {
	color: #000;
}
.three-projects a:hover {
	color: #ff6600;
}

.profile-main .form-control {
	width: 100%;
}

.company-logo {
	width: 300px;
	height: auto;
}
.employer-profile {
	margin-top: 5%;
	margin-bottom: 6%;
	.name {
		margin-bottom: 1%;
		font-size: 250%;
		margin-top: 3%;
	}
	.description {
		margin-bottom: 2%;
		font-size: 120%;
	}
}
.formwrapper {
	margin: 5% 0 5% 0;
}


.user-profile {
	max-width: 1250px;
	margin: 0px auto;
}

/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}

.accordion {
    overflow:hidden;
    border-radius:3px;
    background:#f7f7f7;
}

.accordion a{
	text-decoration: none;
	color: #fff;
}
.accordion a:hover{
	text-decoration: none;
	color: #fff;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:3px solid #330080;
    background:#5a2ca0;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    border-radius: 4px;
    color:#fff;
    margin-bottom: 10px;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background:#5a2ca0;
    border-bottom:2px solid #330080;
    border-radius: 4px;
    /* Type */
    text-decoration:none;
}

.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
    padding:15px;
    display:none;
}
.skill-meta {
	float: right;
}
.filters
{
	position: fixed;
}
.content-wrapper
{
	max-width: 1250px;
	margin: 0px auto;
}
.jobs
{
	float: right;
	padding-left: 3%;
}
.job_search label {
	margin-top: 2%;
}
.job_search .btn {
	margin-top: 2%;
}
.job-header
{
	max-width: 700px;
	margin: 0px auto;
}
.job-title
{
	font-size: 350%;
	font-weight: bold;
	margin-bottom: 3%;
	color: #5a2ca0;
}
.job-metadata
{
	font-size: 120%;
	margin-bottom: 3%;
}
.job-details {
	margin: 0px auto;
	max-width: 700px;
	line-height: 1.6em;
}
.job-question 
{
	font-size: 120%;
	margin-top: 7%;
}
#question {
	font-size: 150%;
	font-weight: bold;
}
.skill-meta-dropdowns
{
	margin-bottom: 15px;
}
.security{
	width: 700px;
	margin: 0px auto;
}
.new-job-form {
	max-width: 700px;
	margin: 0px auto;
}
.new-job-form #title {
	text-align: center;
	margin-bottom: 5%;
	}
.new-job-form #dropdowns {
	margin-bottom: 15px;
}
.job-actions {
	margin-top: 3%;
}
.responses {
	max-width: 700px;
	margin: 0px auto;
}
.response-body{
	margin-bottom: 2%;
}
.response-meta {
	margin-bottom: 2%;
	background-color: #c0c0c0;
	padding: 5px 5px 5px 15px;
	line-height: 2.6em;
}
.responses .shortlist-button
{
	float: right;
}
.responses-page-title {
	text-align: center;
	margin-bottom: 5%;
	font-weight: bold;
	}

.center-button{
	margin-bottom: 2%;
}

.job_expire select {
	width: 30%;
	display: inline;
}

#dropdowns select {
	width: 30%;
	display: inline;
}